:root {
  font-family: "xkcd";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #6E7B91;
  text-decoration: inherit;
}

a:hover {
  color: #6E7B91;
}

body {
  letter-spacing: -0.5px;
  margin: 0;
  display: flex;
  min-height: 100vh;
}



#app {
  max-width: 1280px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.fauxtalics {
  transform: skew(-15deg, 0deg);
}